input[type=button] {
    
    background-color: #4CAF50;
   
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size:25px;
	color:black;
	font-weight:bold;
	margin:80px;
	padding:30px 40px;
	
	
}
.submit{
text-align: center;}

/*the hover property for the submit button*/
input[type=button]:hover {
    background-color: #45a049;
}
