@charset "utf-8";
/* CSS Document */



/*main body of the page css style*/
body{
	background-image: url(background.jpg);
	
	background-size:100% 100%;
	width: auto;
	height: auto;

	
}

/*content of the page that includes the navigation bar and all the content of the body but the footer*/
.body{background-image: url(main_background.jpg);
	border-radius: 10px;
	margin:0px 10% 0px 10%; 
	border:3px solid #906F46;
	  box-shadow:0px 0px 10px 0px pink; 
	opacity: 0.9;
	
}
/*the navigation list home, about and contat*/
ul
{
	list-style-type: none;
	margin:0% 10% 0% 0%;
}
/*css for different background-color of the navigation as per the page clicked*/
.menu{ margin: 5px 20px;
	
	color:white;
	float:right;
	background-color: #BB6E19;
	border-radius:25px; 
 
  }
/*css for page visited*/
.home{
	margin: 5px 20px;
	
	color:white;
	float:right;
	background-color: #104997;
	border-radius:25px; 
	
 
}
/*css for the style of the list element on the navigation menu*/
li a {
	 display: block;
    color: white;
    text-align: center;
    padding: 6px 20px ;
    text-decoration: none;
	width:80px;
	font-size: 15pt;
}

li a:hover {
    background-color:#104997;
	border-radius:25px; 
	
}
/*hand shake logo css*/
.logo{
	width: 150px;
	
	float: left;
}
/*this css is for the middle section of the body where the elements have a background color-black with opacity 0.9*/
.login{
	max-width:500px;
	margin-left: auto;
	margin-right:auto;
	width:auto;
	height: auto;
	background-color:#0B0B0B;
	border-radius:50px; 

	margin-bottom:8%;
	margin-top: 8%;
	opacity: 0.8;
	
	
	
}
/*css for the heading of the middile part of the body*/
.signup a {
	font-size:15pt;
	text-align: center;
	margin-top: 40px;
	width:40%;
	float:right;
	display: block;
    margin-right:5%;
	 font-family: Arial, Helvetica, sans-serif;
	border-radius: 25px;
	padding: 10px 20px;
	background-color:#104997;
	 box-shadow:1px 1px  20px  ; 
	
}
.signup a:hover{
	  
	 background-color:#BB6E19;
	border-radius:25px; 
	
}
 .signup a:link{
	text-decoration: none;
	 color: white;
	 text-transform: uppercase;
	 font-weight: bolder;
	 
	
}
/*form tag css*/
form{
	margin-top:7%;
	
	padding-left:10%;
	padding-top:20px;
	margin-bottom: 60px;
	padding-right:10%;
}
/*lable tag css inside form tag*/
label{
	color:#F3C72E;
	font-weight: bolder;
	font-size: 15pt;
		
}
/* css for the input tag inside form tag*/
input[type="text"]
{
	background-color:#736263;
	border-radius: 25px;
	height:26px;
	width: auto;
	border:none;
	color:white;
	padding-left:5px;
	font-size:16px;
}
input[type="radio"]{
	width:30px;
	cursor: pointer;
	
}
input[type="submit"]:hover{
	background-color:#BB6E19; 
	 font-family: Arial, Helvetica, sans-serif;
	
}
/*login information css*/
.log{
	background-color: #104997;
	border:none;
    border-radius:25px;
	padding: 10px 20px;
	color:white;
	font-weight: bolder;
	margin-left:20%;
	font-size:15pt;
	    box-shadow:1px 1px  20px 0px   ; 

}
/*forgot password css*/
.forgot p{
	text-align: center;
	margin-bottom: 0px;
	
}
.forgot a {
	text-align: center;
	
margin-bottom: 70px;
	display: block;
   
	border-radius: 25px;
	padding: 10px 20px;
	text-decoration: none;
	color:white;
	text-transform: uppercase;
	
}
.forgot a:hover{
	text-decoration: underline;
	color:green;
}
.forgot_password{
	padding-bottom:1px;
}


/*footer css */
.footer_img{
	width:60px;
}
.footer{
	text-align: center;
	align-content: center;
	margin-top:50px;
	color:white;
	font-size:15pt;

	
}

.border{
	margin-left: auto;
    margin-right: auto;
	min-width: 500px;
	max-width:600px; 
	
    box-shadow:1px 1px  10px 0px lightblue  ; 
}

/*css for the facebook and twitter image link */
.connect img{
	height:35px;
	width:35px;
	float:right;
	
	margin-left:10px;
	border-bottom: 2px solid white;
}
.connect img:hover{
	 box-shadow:1px 1px  10px 0px lightblue;
	border-radius: 25px;
}
.logo_img{ float:left;
	width:90px;
}

/*display for the social media icon on the application page */
.socialmedia{
	margin:25px;
text-align:center;
	
}
.smedia{
	
	display:inline-block;
}
.smedia img{
	height:35px;
	width:35px;
	
	border-bottom: 2px solid white;
}
.smedia img:hover{
	 box-shadow:1px 1px  10px 0px lightblue;
	border-radius: 25px;
}

.signupbutton{
	
	
	font-size:15pt;
	text-align: center;
	margin-top: 40px;
	width:40%;
	float:right;
	display: block;
    margin-right:5%;
	 font-family: Arial, Helvetica, sans-serif;
	border-radius: 25px;
	padding: 10px 20px;
	background-color:#104997;
	 box-shadow:1px 1px  20px  ; 
	color:white;
	text-transform: uppercase;
	font-weight: bolder;
	
	
}
.signupbutton:hover{
	
		 background-color:#BB6E19;
	border-radius:25px; 
	
	
}
/*css for the drop down menu for the employer and sign up form or both signup button and login button on the home page*/

.dropdown {	color:white;
    position: relative;
    display: inline-block;
   float: right;
	font-size:15pt;
	text-align: center;
	margin-top: 40px;
	width:40%;	
    	margin-right:5%;
	 font-family: Arial, Helvetica, sans-serif;
	border-radius: 25px;
	padding: 10px 20px;
	background-color:#104997;
	 box-shadow:1px 1px  20px  ; 

	}

.dropdown-content {
	
    display: none;
    position: absolute;
    
    min-width: 160px;
    
    padding: 12px 16px;
    z-index: 1;
}
	.dropdown-content a {
		text-decoration: none;
		background-color: #104997;
		color:white;
		 font-family: Arial, Helvetica, sans-serif;
	border-radius: 25px;
	padding :5px 15px;
		
	}
	.dropdown-content a:hover {
		
		background-color: #BB6E19;
		
	}
	
.dropdown:hover .dropdown-content {
    display: block;
}

/*universal css to clear the float for all different type of float*/
.spacer{
	clear: both;
}
/*code for screen with minimum of 1030 px width. NOTE == this is a test code */
@media screen and (min-width: 1030px) {
  nav {
    flex: none;
  }
	.menu{ margin: 25px 20px;}
	.home{margin:25px 20px;}
}
/*code for screen with maximum of  500px width*/
@media screen and (max-width: 500px) {
	body {
		
		background-image: url(main_background.jpg);
		min-width: 100%;
		max-width: 100%;
	}
	.body{
	border-radius: 0px;
	margin:0% 0% 0% 0%; 
	border:none;
	  box-shadow:none;
	opacity: 0.9;
	
}
	.border{
		
		min-width: 100%;
	max-width:100%; 
	}
li a {
	 display: block;
    color: white;
    text-align: center;
   
    text-decoration: none;
	width:auto;
	font-size: 15pt;
}
li a:hover {
    background-color:#104997;
	border-radius:25px; 
	
}
	.logo_img{ float:none;
	width:90px;
		text-align: center;
}
	ul{ margin:0% 0% 0% 0%;
	
 width: 100%;
		text-align: center;
}
	hr{opacity: 0;
	}
	.login{

	background-color:#0B0B0B;
	border-radius: 0px;
	
	
	margin-top: 8%;
	opacity: 0.8;
	padding-top: 0px ;
	
	
}
	.signup a {
	font-size:15pt;
	text-align: center;
	margin-top: 20px;
	width:40%;
	float:right;
	display: block;
    margin-right:5%;
	 font-family: Arial, Helvetica, sans-serif;
	border-radius: 25px;
	padding: 8px 16px;
	background-color:#104997;
	 box-shadow:1px 1px  20px  ; 
	
}
.signup a:hover{
	  
	 background-color:#BB6E19;
	border-radius:25px; 
	
}
 .signup a:link{
	text-decoration: none;
	 color: white;
	 text-transform: uppercase;
	 font-weight: bolder;
	 
	
}
.logo{
	width: 120px;}	
	.log{margin-left:0%; }	

	form{
		
		padding-left:5%;
		
	}
	.home,.menu{float:none;
		text-align: center;
		
	}
	
}
